<div class="panel panel-info" >
    <!--
    <div ng-repeat="data in tables">
        <div  good-grid good-index="{{data.index}}" good-type="{{data.type}}" good-url="{{data.url}}">
    </div>
    -->
    <div class="panel-heading ">
        <h3 class="panel-title">{{title}}</h3>
    </div>
    <div style="margin: 10px 10px">
        <input type="text" style="width:300px;float: left" class="form-control" placeholder="请输入关键字" ng-model="search_tx">
        <button type="submit" style="clear: both;margin-left:10px" class="btn btn-default" ng-click="searchClick();"><span class="glyphicon glyphicon-search"></span></button>
    </div>
    <div>
        <table style="margin-bottom:0px"  class="table table-striped table-bordered table-hover table-condensed">
            <tbody>
            <tr><th ng-repeat="headerTh in tableHeader">{{headerTh}}</th><th>设备状态</th><th>操作</th></tr>
            <tr ng-repeat="bodyTr in tableBody">
                <th ng-repeat="bodyTd in bodyTr track by $index" >{{bodyTd}}</th>
                <th class="col-md-1" ng-class="statusColor(statusText[$index])">{{statusText[$index]}}</th>
                <th class="col-md-1">
                    <img ng-show="loadingStatus[$index]" src="img/loading.gif" style="height: 34px;width: 34px"/>
                    <button ng-show="btnStatus[$index]" ng-class="btnText[$index] == '重置'?'btn btn-default':'btn btn-danger'" ng-click="resetClick(bodyTr[0],$index);">{{btnText[$index]}}</button>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-footer text-center">
        <button class="btn btn-default" style="margin-left: 5px" ng-click="prePage($event)">Pre</button>
        <button class="btn {{page.className_}}" style="margin-left: 5px" ng-click="gotoPage(page.pageNo)" ng-repeat="page in pageTotal">{{page.pageNo}}</button>
        <button class="btn btn-default" style="margin-left: 5px" ng-click="nextPage($event)">Next</button>
    </div>
</div>